body {
    margin: 0;
}
.page {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.row, .col, .page {
    overflow: hidden;
    position: absolute;
}
.row {
    left: 0;
    right: 0;
}
.col {
    bottom: 0;
    top: 0;
}
.scroll-x {
    overflow-x: auto;
}
.scroll-y {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}
.fill, .pane {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.pane {
    display: none;
}
.iemobile .page {
    bottom: -6px;
}
.iemobile .page {
    bottom: 75px;
}